@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

/* 
    Nunito: Semi-bold 600, Bold 700
    Preto: #0242424
    Amarelo: #FCA60F
    Marrom: #C95E20
*/

* {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 6px gray;
  height: 70px;
}

header img {
  height: 40px;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
}

nav a {
  text-align: center;
  margin: 0px 25px;
  text-decoration: none;

  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: #024242;
}


.container-all {
  display: flex;
}

.img-form {
  display: flex;
}

.forma-1 {
  margin-top: 9rem;
}

.forma-2 {
  position: absolute;
  margin-left: 70rem;
}

.order-info {
  display: flex;
  flex-direction: column;
  position: absolute;

  margin-top: 13rem;
  margin-left: 19.5rem;
}

.text-info {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

button {
  margin-top: 4rem;
  width: 250px;
  height: 50px;

  border-radius: 6px;
  background-color: #FCA60F;
  border-color: #FCA60F;
  cursor: pointer;

  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

section {
  margin-top: 2rem;
  margin-left: 10px;
}


section img {
  padding-left: 10px;
}

.container-cup img {
  position: absolute;
  margin-left: 40rem;
  margin-top: 13rem;
}

.section-scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40rem;
  margin-left: 20rem;
}

.section-scroll p {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.section-scroll img {
  height: 30px;
}

@media (max-width: 400px){
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;    
  }

  header img {
    height: 30px;
  }

  nav li {
    margin-top: 10px;
  }

  nav a {
    font-size: 13px;
    font-weight: bold;
  }

  .container-all {
    display: flex;
    justify-content: center;
  }

  .img-form {
    display: none;
  }

  .forma-1 {
    display: none;
  }

  .forma-2 {
    display: none;
  }

  .order-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  } 

  .text-info {
    font-size: 20px;
    text-align: center;
    margin-top: 8rem;
  }
  
  section {
    display: flex;
    margin-top: 20rem;
  }

  section img {
    padding: 9px;
  }

  .container-cup img {
    display: none;
  }

  .section-scroll {
    display: none;
  }

  .section-scroll p {
    display: none;
  }

  .section-scroll img {
    display: none;
  }
}